<section class="app-notifications" data-component="notifications">
  <table class="app-notifications__table">
    <caption class="app-notifications__caption">
      お知らせ
    </caption>
    <thead class="slds-assistive-text">
      <tr>
        <th scope="col">日付</th>
        <th scope="col">お知らせ内容</th>
      </tr>
    </thead>
    <tbody>
      <tr class="app-notifications__row">
        <td class="app-notifications__date">
          <time datetime="2026-05-01">2026/05/01</time>
          <span class="app-notifications__badge">メンテナンス</span>
        </td>
        <td class="app-notifications__title">
          <a href="/">システムメンテナンスのお知らせ</a>
        </td>
      </tr>
      <tr class="app-notifications__row">
        <td class="app-notifications__date">
          <time datetime="2026-04-20">2026/04/20</time>
        </td>
        <td class="app-notifications__title">
          <a href="/">新機能リリースのご案内</a>
        </td>
      </tr>
    </tbody>
  </table>

  <a class="app-notifications__more" href="/">
    お知らせ一覧 <span aria-hidden="true">&gt;</span>
  </a>
</section>
