<article class="slds-card app-user-detail" aria-labelledby="user-detail-title">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="slds-media__body">
        <h2 id="user-detail-title" class="slds-card__header-title">
          ユーザー情報
        </h2>
      </div>
    </header>
  </div>

  <div class="slds-card__body slds-card__body_inner">
    <dl class="slds-list_horizontal slds-wrap app-user-detail__list">
      <dt class="slds-item_label slds-truncate">氏名</dt>
      <dd class="slds-item_detail slds-truncate">山田 太郎</dt>
      <dt class="slds-item_label slds-truncate">メールアドレス</dt>
      <dd class="slds-item_detail slds-truncate">taro.yamada@example.com</dt>
      <dt class="slds-item_label slds-truncate">ステータス</dt>
      <dd class="slds-item_detail slds-truncate">有効</dt>
    </dl>

    <div class="slds-m-top_large">
      <a class="slds-button slds-button_brand" href="./user-edit.html">編集</a>
      <a class="slds-button slds-button_neutral" href="./user-list.html"
        >一覧へ戻る</a
      >
    </div>
  </div>
</article>
