<header class="slds-grid slds-grid_align-spread slds-p-around_medium app-header">
    <div class="slds-grid slds-grid_vertical-align-center slds-gutters_small">
        <div class="slds-col">
            <strong class="app-header__brand">サンプル SLDS UI</strong>
        </div>
    </div>

    <nav aria-label="メインナビゲーション">
        <ul class="slds-list_horizontal slds-has-dividers_right-space">
            <li class="slds-item"><a href="./user-list.html">ユーザー一覧</a></li>
            <li class="slds-item"><a href="./user-edit.html">新規登録</a></li>
        </ul>
    </nav>
</header>