<section class="app-active-contracts" data-component="active-contracts">
  <table class="app-active-contracts__table">
    <caption class="app-active-contracts__caption">
      お手続き中の契約
    </caption>
    <thead class="slds-assistive-text">
      <tr>
        <th scope="col">契約コード</th>
        <th scope="col">契約名</th>
        <th scope="col">手続き状況</th>
      </tr>
    </thead>
    <tbody>
      <tr class="app-active-contracts__row">
        <td class="app-active-contracts__code">c-2026-002</td>
        <td class="app-active-contracts__name">HogeHuga</td>
        <td class="app-active-contracts__action">
          <a href="/">契約手続き中 <span aria-hidden="true">&gt;</span></a>
        </td>
      </tr>
      <tr class="app-active-contracts__row">
        <td class="app-active-contracts__code">c-2026-006</td>
        <td class="app-active-contracts__name">HogeMoga</td>
        <td class="app-active-contracts__action">
          <a href="/">契約手続き中 <span aria-hidden="true">&gt;</span></a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
